/** Change made recent **/
#notification-container{ height: 40.7vw;}
#chat-container{height: 37.2vw;}
.xploadchatnotif-container .notification-container .ui-resizable-se {right: .2vw;bottom: -2.8vw;}
.xploadchatnotif-container .chat-container .ui-resizable-se {right: .1vw;bottom: -6.3vw;}
.xploadwebinar-container .webinar-container{padding-bottom: .5%;}
#xprowebinarSubscriberImage{display: none;}
.deleteChat{display: none;}
.actual_msg:hover .deleteChat{display: none;}
#xprowebinarSubscriberCamera{object-fit: cover;height: 11.44vw;}

/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    /* insert styles here */
  #notification-container {height: 40.95vw;}
  #chat-container {height: 37.111vw;}
  .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.7vw;}
  .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -6.5vw;}
  #xprowebinarSubscriberCamera {height: 11.13vw;}
}
/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
  #notification-container {height: 41.3vw;}
  #chat-container {height: 36.9vw;}
  .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.7vw;}
  .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -7vw;}
  #xprowebinarSubscriberCamera {height: 11.1vw;}  
}
/* (1600x900) HD+ Display */
@media  screen and (max-width: 1600px) {
  #notification-container {height: 41.4vw;}
  #chat-container {height: 36.777vw;}
  .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.8vw;}
  .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -7.2vw;}
}
/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
  #notification-container {height: 41.777vw;}
  #chat-container {height: 36.6vw;}
  .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.7vw;}
  .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -7.6vw;}
}
/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    #notification-container {height: 41.9vw;}
    #chat-container {height: 36.5vw;}
    .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.7vw;}
    .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -7.9vw;}
    #xprowebinarSubscriberCamera {height: 11.05vw;}     
} 
/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    #notification-container {height: 42.1vw;}
    #chat-container {height: 336.4vw;}
    .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.7vw;}
    .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -8.3vw;}
}
@media  screen and (max-width: 1180px) {
  #notification-container {height: 42.3vw;}
  #chat-container {height: 35.999vw;}
  .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.6vw;}
  .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -8.7vw;}
}
@media  screen and (max-width: 1024px) {
  #notification-container {height: 42.3vw;}
  #chat-container {height: 35vw;}
  .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -8.7vw;}
  .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -8.7vw;}
  #xprowebinarPublisherCamera {height: 10.7vw;;}
}
@media (max-width: 992px){
  #videoContainer #header-image #webinarLogo {width: 25%;}
  #webinarHead .right {padding-top: 0px;width: 80%;margin: 0 auto;}
  .xploadwebinar-container .webinar-container .xploadvideo-container {margin-bottom: 2%;}
  #xprowebinar-subscriber {height: 49vw;}
  .avatar-container .avatar {position: relative !important;}
  .avatar-container .avatar h3 {font-size: 1.8vw;}
  #xprowebinarPublisherCamera {height: 18.97vw;}
  #xprowebinarSubscriberCamera {height: 19.2vw;}
  #notification-container {position: relative;}
  #chat-container {position: relative;left: 0;padding-right: 0;width: 100%;}
  .xploadwebinar-container .webinar-container .xploadchatnotif-container{padding-left: 0px;padding-right: 0px;}
  #notification-container {height: 72.5vw;}
  #chat-container {height: 65vw;}
  .xploadchatnotif-container .notification-container .notification__title h5 {font-size: 1.8vw;}
  .chat-container .chatbox__title h5 {font-size: 1.8vw;}
  .emojionearea .emojionearea-editor{line-height: 1;}
  .notification-container #notificationSound{font-size: 1.5vw;}
  .chat-container #fontSizeSelect{font-size: 1.5vw;}
  .avatar-container #avatar3{right: 0;left: 0;}
}
@media (max-width: 767px) {
  #videoContainer #header-image #webinarLogo {width: 25%;}
  #webinarHead .right {padding-top: 0px;width: 80%;margin: 0 auto;}
  .xploadwebinar-container .webinar-container .xploadvideo-container {margin-bottom: 2%;}
  #xprowebinar-subscriber {height: 49vw;}
  .avatar-container .avatar {position: relative !important;}
  .avatar-container .avatar h3 {font-size: 1.8vw;}
  #xprowebinarPublisherCamera {height: 18.222vw;}
  #notification-container {position: relative;}
  #chat-container {position: relative;left: 0;padding-right: 0;width: 100%;}
  .xploadwebinar-container .webinar-container .xploadchatnotif-container{padding-left: 0px;padding-right: 0px;}
  #notification-container {height: 75vw;}
  #chat-container {height: 65vw;}
  .xploadchatnotif-container .notification-container .notification__title h5 {font-size: 1.8vw;}
  .chat-container .chatbox__title h5 {font-size: 1.8vw;}
  .emojionearea .emojionearea-editor{line-height: 1;}
  .notification-container #notificationSound{font-size: 2vw;}
  .chat-container #fontSizeSelect{font-size: 2vw;}
  .avatar-container #avatar3{right: 0;left: 0;}
}
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
  #videoContainer #header-image #webinarLogo {width: 25%;}
  #webinarHead .right {padding-top: 0px;width: 80%;margin: 0 auto;}
  .xploadwebinar-container .webinar-container .xploadvideo-container {margin-bottom: 2%;}
  #xprowebinar-subscriber {height: 49vw;}
  .avatar-container .avatar {position: relative !important;}
  .avatar-container .avatar h3 {font-size: 1.8vw;}
  #xprowebinarPublisherCamera {height:18.98vw;}
  #notification-container {position: relative;}
  #chat-container {position: relative;left: 0;padding-right: 0;width: 100%;}
  .xploadwebinar-container .webinar-container .xploadchatnotif-container{padding-left: 0px;padding-right: 0px;}
  #notification-container {height: 65vw;}
  #chat-container {height: 65vw;}
  .xploadchatnotif-container .notification-container .notification__title h5 {font-size: 1.8vw;}
  .chat-container .chatbox__title h5 {font-size: 1.8vw;}
  .chat-container .chatbox__title h5 a{font-size: 1.8vw;}
  .emojionearea .emojionearea-editor{line-height: 1;}
  .notification-container #notificationSound{font-size: 2vw;}
  .chat-container #fontSizeSelect{font-size: 2vw;}
  .xploadwebinar-container .webinar-container {padding-left: 2%;padding-right: 2%;}
  #xprowebinarSubscriberCamera {height: 18vw;}
  #resetView {left: 73%;}
  .avatar-container #avatar3{right: 0;left: 0;}
}

@-moz-document url-prefix() { 
  #xprowebinarSubscriberCamera {height: 11.25vw;}
  .avatar-container #avatar3 {left: calc(100% - 18.66vw);}
  #notification-container {height: 41.111vw;}
  #chat-container {height: 37.3vw;}
  .xploadchatnotif-container .notification-container {padding-right: 0px !important;padding-left: 0px !important;}

  @media  screen and (max-width: 1920px) {
    #xprowebinarSubscriberCamera {height: 11.25vw;}   
    #notification-container {height: 41.111vw;}
    #chat-container {height: 37.3vw;}
  }
  @media  screen and (max-width: 1680px) {
    #xprowebinarSubscriberCamera {height: 11.2vw;}
    #notification-container {height: 41.44vw;}
    #chat-container {height: 37.08vw;}
    #xprowebinarSubscriberCamera {height: 11.2vw;}
  }
  @media  screen and (max-width: 1600px) {
    #xprowebinarSubscriberCamera {height: 11.26vw;}
    #notification-container {height: 41.66vw;}
    #chat-container {height: 37.099vw;}
  }
  @media  screen and (max-width: 1440px) {
    #notification-container {height: 41.9vw;}
    #chat-container {height: 37.099vw;}
    #xprowebinarSubscriberCamera {height: 11.2vw;}
    #chat-container {height: 36.8vw;}
  }
  @media  screen and (max-width: 1366px) {
    #xprowebinarSubscriberCamera {height: 11.2vw;}
    #notification-container {height: 42.06vw;}
    #chat-container {height: 36.666vw;}
  }
  @media  screen and (max-width: 1329px) {
      #xprowebinarSubscriberCamera {height: 11.2vw;}
      #notification-container {height: 42.1vw;}
      #chat-container {height: 36.55vw;}
  } 
  @media  screen and (max-width: 1280px) {
      #notification-container {height: 42.222vw;}
      #chat-container {height: 36.5vw;}
      .avatar-container #avatar3 {left: calc(100% - 18.8vw);}
  }
  @media  screen and (max-width: 1200px) {
      #notification-container {height: 42.44vw;}
      #chat-container {height: 36.33vw;}
      .avatar-container #avatar3 {left: calc(100% - 18.8vw);}
      #xprowebinarSubscriberCamera {height: 11.1vw;}
  }
  @media  screen and (max-width: 1180px) {
    #notification-container {height: 42.5vw;}
  }
  @media (max-width: 992px){
    #xprowebinarSubscriberCamera {height: 19.55vw;}
    #notification-container {height: 43.9vw;}
    .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.7vw;}
    .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -10.1vw;}
    .avatar-container #avatar3 {left: calc(100% - 97.8vw);}
    .webinar-container{margin-bottom: 12vw;}
  }
  @media (max-width: 767px) {
    #xprowebinarPublisherCamera {height: 19.5vw;}
    .avatar-container #avatar3 {left: calc(100% - 98.8vw);}
    .webinar-container{margin-bottom: 12vw;}
    .avatar-container #avatar3{right: 0;left: 0;}
    #notification-container {height: 46.3vw;}
  }
  @media (max-width: 575px) {
    #xprowebinarPublisherCamera {height: 18.555vw;}
    .avatar-container #avatar3 {left: calc(100% - 96.5vw);}
    .webinar-container{margin-bottom: 12vw;}
    .xploadwebinar-container .webinar-container {padding-left: 2%;padding-right: 2%;}
    .avatar-container #avatar3{right: 0;left: 0;}
    #xprowebinarSubscriberCamera {height: 18.6vw;}
    #notification-container {height: 49.9vw;}
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    #xprowebinarSubscriberCamera {height: 11.25vw;}
  .avatar-container #avatar3 {left: calc(100% - 18.66vw);}
  #notification-container {height: 41.111vw;}
  #chat-container {height: 37.3vw;}
  .xploadchatnotif-container .notification-container {padding-right: 0px !important;padding-left: 0px !important;}

  @media  screen and (max-width: 1920px) {
    #xprowebinarSubscriberCamera {height: 11.25vw;}   
    #notification-container {height: 41.111vw;}
    #chat-container {height: 37.3vw;}
  }
  @media  screen and (max-width: 1680px) {
    #xprowebinarSubscriberCamera {height: 11.2vw;}
    #notification-container {height: 41.44vw;}
    #chat-container {height: 37.08vw;}
    #xprowebinarSubscriberCamera {height: 11.2vw;}
  }
  @media  screen and (max-width: 1600px) {
    #xprowebinarSubscriberCamera {height: 11.26vw;}
    #notification-container {height: 41.66vw;}
    #chat-container {height: 37.099vw;}
  }
  @media  screen and (max-width: 1440px) {
    #notification-container {height: 41.9vw;}
    #chat-container {height: 37.099vw;}
    #xprowebinarSubscriberCamera {height: 11.2vw;}
    #chat-container {height: 36.8vw;}
  }
  @media  screen and (max-width: 1366px) {
    #xprowebinarSubscriberCamera {height: 11.2vw;}
    #notification-container {height: 42.06vw;}
    #chat-container {height: 36.666vw;}
  }
  @media  screen and (max-width: 1329px) {
      #xprowebinarSubscriberCamera {height: 11.2vw;}
      #notification-container {height: 42.1vw;}
      #chat-container {height: 36.55vw;}
  } 
  @media  screen and (max-width: 1280px) {
      #notification-container {height: 42.222vw;}
      #chat-container {height: 36.5vw;}
      .avatar-container #avatar3 {left: calc(100% - 18.8vw);}
  }
  @media  screen and (max-width: 1200px) {
      #notification-container {height: 42.44vw;}
      #chat-container {height: 36.33vw;}
      .avatar-container #avatar3 {left: calc(100% - 18.8vw);}
      #xprowebinarSubscriberCamera {height: 11.1vw;}
  }
  @media  screen and (max-width: 1180px) {
    #notification-container {height: 42.5vw;}
  }
  @media (max-width: 992px){
    #xprowebinarSubscriberCamera {height: 19.55vw;}
    #notification-container {height: 43.9vw;}
    .xploadchatnotif-container .notification-container .ui-resizable-se {bottom: -2.7vw;}
    .xploadchatnotif-container .chat-container .ui-resizable-se {bottom: -10.1vw;}
    .avatar-container #avatar3 {left: calc(100% - 97.8vw);}
    .webinar-container{margin-bottom: 12vw;}
  }
  @media (max-width: 767px) {
    #xprowebinarPublisherCamera {height: 19.5vw;}
    .avatar-container #avatar3 {left: calc(100% - 98.8vw);}
    .webinar-container{margin-bottom: 12vw;}
    .avatar-container #avatar3{right: 0;left: 0;}
    #notification-container {height: 46.3vw;}
  }
  @media (max-width: 575px) {
    #xprowebinarPublisherCamera {height: 18.555vw;}
    .avatar-container #avatar3 {left: calc(100% - 96.5vw);}
    .webinar-container{margin-bottom: 12vw;}
    .xploadwebinar-container .webinar-container {padding-left: 2%;padding-right: 2%;}
    .avatar-container #avatar3{right: 0;left: 0;}
    #xprowebinarSubscriberCamera {height: 18.6vw;}
    #notification-container {height: 49.9vw;}
  }
}}